.app{

  font-family: 'Inria Serif', serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  display: flex;
}

.sidebar{
  width: 60px;
  background-color: #4a4a4a;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar ul{
  list-style: none;
  padding: 0;
}

.sidebar ul li{
  margin: 20px 0;
}

.sidebar ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 0.5rem;
}

.social-icon.linkedin img::before{
  font-size: 0.5rem;
  
}

.social-icon.instagram::before{
  font-size: 0.5rem;
}
.social-icon.youtube::before{

  font-size: 1.2rem;
}

.main-content{
  margin-left: 60px;
  width: 100%;
  
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff99;
  color: #333;
  margin-top: 10px;

}

.header .logo{
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;

}

.header .logo:hover{
  color: #1a9516;
  cursor: pointer;
}

.header .logo img {
  margin-right: 10px; 
  height: 40px; 
}

.header nav {
  display: flex;
  align-items: center; /* Vertically align the image and the button */
}

.header nav img {
  margin-right: 10px; /* Add space between the image and the button */
  height: 30px; /* Adjust the height of the image */
}



.header nav .logout-btn {
  background-color: none; /* You can customize the button style further */
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.header nav .logout-btn:hover {
  background-color: #555;
   color: #fff;
}

.hero{
  text-align: center;
  padding: 30px;
  background-color: #ffffffa8;
  height: 75vh;
  margin-top: 50px;
  margin-bottom: 20px;
}

.hero h1{
  font-size: 3.7rem;
  margin-bottom: 20px;

}

.hero p{
  font-size: 2rem;
  color: #313131;
}

.goals{
  padding: 30px;
  background-color: #4a4a4a;
  margin-top: 80px;
  font-family: 'Inria Serif', serif;
  
}

.goals h2{
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #f1f1f1;
  font-size: 3.1 rem;
}
.goals ul{
  list-style: none;
  padding: 0;
  
}
.goals ul li{
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 10px;
  color: #f1f1f1;
  text-align: center;
}
.join{
  padding: 40px;
  background-color: #f1f1f1;
  
}
.join-content {
  display: flex;
  justify-content: space-between; /* Ensures space between the form and text */
  align-items: flex-start; /* Align them horizontally, starting from the top */
  flex-wrap: nowrap; /* Prevents wrapping so they stay in one line */
  width: 100%;
}
.join-text {
  flex: 1;
  padding-right: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.join-text p{
  font-size: 1.2 rem;
  color: #333;
  
}

.join-text h2{
  font-size: 2rem;
  margin-bottom: 20px;
 
}

.join h2{
  font-size: 2rem;
  margin-bottom: 20px;
}
.join p{
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}
.contact-form {
  flex: 1;
  max-width: 35%; /* Ensures the form doesn’t take too much space */
  margin-left: 20px; /* Adds space between text and form */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns form items at the top */
}

.contact-form h3{
  font-size: 1.2 rem;
  margin-bottom: 10px;
  
}

.contact-form input,
.contact-form textarea{
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px;
  max-width: 400px;
  border-radius: 0.3rem;
  max-height: fit-content;
}

.contact-form button{
  padding: 10px 20px;
  background-color: #3333339a;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-top: 10px;
  margin-left: 10%;
  border-radius: 0.3rem;
}

.contact-form button:hover{
  background-color: #c9c9c9;
  color: #313131;

}
footer{
  background-color: #4a4a4a;
  color: #fff;
  padding: 40px 20px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top .contact-info{
  max-width: 50%;
}

.footer-top .contact-info p a{
  color: #f9f9f9;
}

.footer-top .contact-info h3,
.footer-top .newsletter h3{
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-top .newsletter{
  max-width: 50%;
}

.footer-top .newsletter-form{
  display: flex;
  gap: 10px;
}
.footer-top .newsletter-form input{
  padding: 8px;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.footer-top .newsletter-form button{
  padding: 8px 10px;
  background-color: #b0b0b0;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  
}


.footer-top .newsletter-form button:hover{
  background-color: #fff;
  color: #313131;
}


.footer-bottom{
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p{
  font-size: 1rem;
}